<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <p class="ion-text-center" > {{ geoposition }} </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding ion-text-center">
        <ion-button (click)="updateGPS()">
          <ion-icon size="large" name="earth-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
